/***********************
* HEADER
***********************/
.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown-toggle::after {
	color:#fff;
}
#resultscontainer {
	position: absolute;
	z-index: 4000;
}
.finder {
	display:none;
	background-color: #3737375e;
	padding: 5px;
}
.finder a {
	color:#fff;
	text-decoration:none;
}
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.b-example-divider {
	width: 100%;
	height: 3rem;
	background-color: rgba(0, 0, 0, .1);
	border: solid rgba(0, 0, 0, .15);
	border-width: 1px 0;
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
	flex-shrink: 0;
	width: 1.5rem;
	height: 100vh;
}

.bi {
	vertical-align: -.125em;
	fill: currentColor;
}

.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}

.nav-scroller .nav {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
	--bd-violet-bg: #712cf9;
	--bd-violet-rgb: 112.520718, 44.062154, 249.437846;

	--bs-btn-font-weight: 600;
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: var(--bd-violet-bg);
	--bs-btn-border-color: var(--bd-violet-bg);
	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: #6528e0;
	--bs-btn-hover-border-color: #6528e0;
	--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: #5a23c8;
	--bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
	z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
	display: block !important;
}
.ui-w-40 {
    width: 40px;
    height: auto;
	margin-right: 20px;
}
.shoppingcarticon {
	text-decoration:none;
}

.shoppingcarticon .fa-shopping-cart {
	font-size: 1.5em;
	margin-left: 0.5em;
}

.shoppingcarticon .fa-shopping-cart.num {
	position: relative;
	top: 8px;
}

.shoppingcarticon .cartnum {
	border: 2px solid white;
	border-radius: 50%;
	font-size: 9px;
	width: 17px;
	height: 17px;
	display: block;
	color: white;
	position: relative;
	top: -4px;
	right: -27px;
	text-align: center;
	
}
.white {
	color: #fff !important;
}
.white:hover {
	color: #fff !important;
}
.featurette a.row {
	text-decoration: none;
	color:#151515;
}
.carousel-caption {
	background-color: #2525259e;
    padding: 2em;
}
.productsrow > div a {
/*	height: 550px;*/
}
/***********************
* CART
***********************/
.media {
  display: flex;
  align-items: flex-start;
}

.media-body {
  flex: 1;
}

.card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}
footer {

}
footer .footer1 {
	background-color: #9f9f9f;
    padding: 45px 0;
}
footer .footer2 {
	background-color: #282828;
    padding: 28px 0 10px;
	color: #fff;
}